/*General Settings*/

label{
    color: black; 
}

.leftContainer {
    width: 50vw;
    height: 100%; 
    padding: 0px;
    
    border: 1px solid aliceblue;
    box-shadow: 2px 2px 5px grey;
    background-color: #f1f5f8;
}

.rightContainer{
    width: 50vw;
    height: 100%; 
    padding: 0px;
}

.loadingLeftMain{
    width: inherit;
    height: 100vh;
    align-items: center;
    padding: 0px;
}

.hide{
    display: none;
}

.progress{
   margin: 3rem; 
}

.progress-bar{
    background-color: rgb(89, 150, 219);
}

 #btnPrevPg3, #btnNextPg3{
    margin-top: 4rem; 
}

#btnPrevPg2,#btnNextPg2{
    margin-top: 8rem; 
}

/*Weather Section */

/*Part 1 Weather*/
.weatherContainer {
    font-family: Asul, Arial, Helvetica, sans-serif;
    height: inherit;
    width: inherit;
}

.wTitleDiv {
    margin: 2rem 0 0 2rem; 
    justify-content: space-around;
   
}

.wtitle {
    font-size: 3rem;
   
}

#tdayText{
    font-size: 1.5rem;
}

.textW{
    padding-top: 1rem;
    font-size: 1.3rem;
    padding-right: 3rem;
}

.wtitle, .textW{
    font-weight: 300;
    text-shadow: 1px 4px 5px #acb4c0;
}

/* Trial Border */
.wTopLeftDiv{
    margin: 1.5rem 1rem 0rem 8rem; 
  /*  border: 2px solid salmon; */
    width: 20rem;
    height: 10rem;
}

#todayTemp{
    font-size: 3rem;
    padding-left: 30%;
}

#todayWeather{
    margin-top: 1rem;
    font-size: 1.5rem;
}

.textWindHumidity{
    width: 100%;
    height: inherit; 
    justify-content: space-between;
}

.wTopRightDiv{
    height: 10rem;  
    width: 32%; 
    overflow: hidden;
    margin: 1.5rem 4rem 0rem 1.5rem; 
    border-radius: 1rem;
    border: 1px solid aliceblue;
    box-shadow: 2px 2px 5px grey;
    background-color: #d2d9ddf8;
}

#todayWImage, .weatherImg{
    object-fit: contain;   
    height: 100%;
    width: 100%; 
    
}

.weatherImg{
    border-radius: 1rem;
    
}

/*Part 2 Weather*/

.daysDiv{
   height: 100%;
   width: 100%;
   justify-content: space-between;  
   margin-bottom: 3rem; 
}

.dayDiv{
    width: 100%;
    height: 5%;
  /*  border: 2px solid salmon; */
    justify-content: space-evenly;
    align-items: center;
    
}


.fourDaysDiv{
    width: 100%;
    height: 5rem;
   /* border: 2px solid salmon; */
    margin-top: 3.5rem;
    margin-left: 2rem;

}

.weatherImgDiv{
    height: 6rem;  
    width: 13rem; 
    overflow: hidden;
    margin: 0rem 3rem 0rem 1.5rem; 
    border-radius: 1rem;
    margin: 1rem;
    border: 1px solid aliceblue;
    box-shadow: 2px 2px 5px grey;
    background-color: #ffffff;
   
}

.weatherImgDiv:hover, #todayWImage:hover{
    transform: scale(1.1); 
}

.fourDaysTitle{
    padding-left: 2rem; 
    font-weight: 300;
    text-shadow: 1px 4px 5px #818d9e;
}


.daysOfWeekText, .tempOfDayText{
    font-size: 2rem;
}

@media screen and (max-width: 1300px){
    .wtitle{
        font-size: 2rem;
    }

    .fourDaysTitle{
        font-size: 1.5rem;
    }

    #todayWeather {
        font-size: 1.5rem;
    }

    #todayTemp{
        font-size: 2rem;
    }

    .daysOfWeekText, .tempOfDayText{
        font-size: 1.5rem;
    }

    #tdayText{
        font-size: 1rem;
    }

    
}


/*End Weather Section */

/*Menu Section */

.menuContainer{
    height: inherit;
    width: inherit;
    font-family: Asul, Arial, Helvetica, sans-serif; 
}

.menutitleDiv{
    width: 100%;
    height: 30%;
   
}

.menuTitleText{
    font-size: 4rem;
    margin: 1rem;
    padding-left: 4rem;
    text-shadow: 1px 4px 5px #818d9e;
}


.menuDiv{
    font-family: Asul, Arial, Helvetica, sans-serif;
    height: inherit;
    width: inherit; 
}

.menuTable{
    width: 80%;
    height: inherit;
    margin: 5rem; 
    
}

.foodImg{
    height: 10rem;
    width: 10rem; 
    padding: 0.8rem;
    border-radius: 1.2rem;
   

}

.colText{
   
    padding: 1.3rem;
    font-size: 1.1rem;
}

/*End Menu Section */

/*Final Image Section */

.finalImgContainer {
    height: inherit;
    width: inherit;
    font-family: Asul, Arial, Helvetica, sans-serif; 
}

.finalImgDiv{
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

#finalImg{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/*End final Image Section */

/*Booking page 1 */

.bookingPage1{
    display: flex;
    flex-direction: column;
    font-family: Asul, Arial, Helvetica, sans-serif; 

}

.pg1DivDate, .pg1DivTime{
    margin-left: 7rem; 
    margin-top: 5rem; 
}

.lblText{
    font-size: 1.8rem;
    margin-right: 3rem; 
}

#timeChoice, #dateChoice{
    font-size: 1.5rem;
}

.bookingTitle{
    font-size: 3rem;
    font-family: Asul, Arial, Helvetica, sans-serif; 
    font-weight: 300;
    margin: 2rem 0rem 1rem 7rem;
}

.adviceDiv{
    margin: 8rem 0 1rem 7rem; 
}

.adviceBtnDiv{
    margin: 8rem 0 1rem 7rem; 
}

#btnAdvice_Next{
    width: 22rem;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    background-color: gold;
    border: 2px solid goldenrod;
    font-weight: 500;
}

/*End Booking Page 1 Section */

/* Start Booking page 2 */

.contactTitleDiv, .contactTitleDiv2{
    margin: 1.5rem 3rem 1rem 3rem; 
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 1px 4px 5px #818d9e;
}

.contactDetailsDiv{
    margin: 3rem 1rem 0rem 1rem;
    width: auto; 
    
}

.contactText{
    margin: 0.8rem; 
   font-size: 1rem;
 
}



#mobileID, #lastNameID, #firstNameID, #emailID{
    flex-basis: min-content; 
    
}

.btnPrevDiv, .btnNextDiv {
    margin-left: 3rem;
    margin-right: 3rem;  
}


.btnNextPrev{
    width: 11rem;
    height: 3rem;
    background-color: gold;
    border: 2px solid darkgoldenrod;
    border-radius: 0.3rem;
    font-weight: 500;
}

.progress{
    margin: 1rem 3rem 1rem 3rem; 
}

.buttonsDiv{
    width: 100%;
    height: 50%;
   
}

.button, #btnPrevPg2, #btnNextPg2{
    width: 11rem;
    height: 2.5rem;
    background-color: gold;
    border: 2px solid goldenrod;
    border-radius: 0.2rem;
    font-weight: 500;
}

/*End Booking Page 2 Section */

/* Start Booking page 3 */

.bookingPg3{
    font-family: Asul, Arial, Helvetica, sans-serif;
    height: inherit;
    width: inherit;
}

.chooseTitle{
    font-size: 2.5rem;
    margin: 1rem 3rem 1rem 3rem; 
}

.boatImgChoiceDiv{
    width: 19vw;
    height: 36vh;
    overflow: hidden;
    margin: 2rem; 
    border-radius: 2rem;
}

#tereImage, #nuiImage{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.tereDiv:hover, .nuiDiv:hover{
    box-shadow: 2px 2px 5px grey;
    background-color: rgb(212, 229, 245);
}

.boatChoicesDiv{
    margin-top: 5rem; 
    
}

.boatTextDiv{
    margin-left: 3rem; 
}

.selectedBoat{
    background-color: rgb(212, 229, 245);
}

.button:hover{
    color: white;
}

/*End of Choose Boat Section Pg3*/
/*Boat: Info */

.chooseSeatTitleDiv{
    margin: 2rem 0rem 3rem 3rem; 
}

.chooseSeatTitle{
    font-size: 2rem;
}

.boatInfoDiv{
    margin-left: 3rem; 
    margin-right: 3rem;
    margin-top: 1rem;  
    display: flex;
   justify-content: space-around;
}

.boatInfoDiv{
    font-size: 1.2rem;
    
}


/*Boat Table */

.tereAllBoat {
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    height: 100%;
    margin: 3rem;
    overflow: visible;
}

.nuiAllBoat{
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    height: 100%;
    margin: 0.5rem 3rem 0.8rem 3rem;
    overflow: visible;
}

.tereSectionLeft,
.tereSectionRight,
.nuiSectionLeft,
.nuiSectionRight {
    width: 100%;
    height: 100%;

}

.tereSectionLeft, .nuiSectionLeft{
    margin-right: 4rem; 
}

.boatLeftTable,
.boatRightTable {
    height: 100%;
    width: 100%;
}


/* Apply .free class to seats that are available */ 
.free {
    border: 2px solid rgb(238, 241, 243);
    height: 3rem;
    width: 5rem;
    background-color: rgb(103, 176, 235);
}

.tr {
    width: 10rem;
    height: 50rem;

}

/* Apply .taken class to seats that have been booked*/
.taken{
    background-color: rgb(164, 176, 189);
    border: 2px solid rgb(168, 212, 226);
    height: 3rem;
    width: 5rem;
}

/*hide unwanted seats */
.hideSeat{

    color: white;
    border-color: rbga(0,0,0,0); 
}

/*selected seat*/
.selected {
    background-color: rgb(149, 221, 185);
    border: 2px solid rgb(238, 241, 243);
        height: 3rem;
        width: 5rem;
    
}

.free:hover{
   background-color:  rgb(85, 159, 219) ;
   color: white; 
}

.taken:hover{
    background-color: #acb4c0;
}

.selected:hover{
    background-color: rgb(157, 194, 157);
}

/*tool tip */
.tooltip1 {
    position: relative;
    
  }
  
  .tooltip1 .tooltiptext1 {
    display: none; 
    width: 0px;
    text-align: center;
    border-radius: 6px;
    padding: 0px 0;
    z-index: 1;
    bottom: 123%;
    left: 35%;
    margin-left: -60px;
    background-color: white;
    opacity: 0;
    transition: opacity 1s;
    font-size: 10px;
    line-height: 9px;
    height: 0px; 
}
  
  .tooltip1:hover .tooltiptext1 {
    visibility: visible;
    opacity: 1;
    display: block;
    position: absolute;
    border: 3px solid rgb(142, 218, 205);
    height: min-content; 
    width: 60px;
    color: black;
  }

  .visible{
    display: block;
  }

  .invisible{
    display: none;
  }

 /*Selection Keys */

.keys{
    height: 1rem;
    width: 3rem;

}

.availableSpan{
    background-color: rgb(103, 176, 235);
    margin: 0.5rem;
    font-size: 0.8rem;
    padding: 0.2rem;

}

.takenSpan{
    background-color: rgb(164, 176, 189);
    margin: 0.5rem;
    font-size: 0.8rem;
    padding: 0.2rem;

}

.selectedSpan{
    background-color: rgb(133, 199, 133);
    font-size: 0.8rem;
    padding: 0.2rem;


}

/*Menu Choice */


.order{
    height: 23rem; 
    background-color: aliceblue;
    margin: 1.5rem 3rem 1.5rem 3rem; 
 }

 .menuDesign{
    height: 3rem;
    margin-bottom: 3rem;
    background-color: rgb(184, 212, 245);
 }

.menuPassengerTable{
    width: 100%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    
}

.ordersTitleDiv{
    margin: 2rem 3rem 1rem 3rem; 
}

.menuNumPick{
    width: 3rem; 
  
}

.mpText{
    
    padding-left: 2rem;
    padding-right: 2rem; 
}

.savouryRow:hover, .dessertRow:hover, .drinksRow:hover{
    background-color: rgb(199, 223, 255);
}

.menuSubTitles{
    font-size: 1.4rem;
}

.mpText2{
    padding-left: 2rem;
    padding-right: 2rem; 
    font-weight: bold;
}

.mealSelection{
    margin-top: 7%;
}

.buttonsDivMenuPg{
    margin-top: 4rem; 
}


@media only screen and (max-width: 1500px){

    .orderTitle{
        font-size: 1rem; 
    }

    .mpText{
        font-size: 0.8rem; 
    }

    .menuLabel{
        font-size: 0.8rem;
    }

    .menuSubTitles{
        font-size: 1.2rem;
    }
}

/*Summary Container */

.bookingAllContainer{
    overflow-y: scroll;
    margin: 2rem 3rem 1rem 3rem; 
    
}

.bookingAllContainer{
    height: 75vh;
    
}

.bkSubDiv{
    margin-top: 2.5rem; 
}

.contactDTitleSubDiv, .bookDTitleSubDiv, .seatTitleSubDiv, .mealTitleSubDiv{
    margin-bottom: 2rem; 
}

.mealTitleSubDiv{
    margin-top: 3rem; 
}

.bkLabel{
    font-size: 1.3rem; ;
}

.totalSeatSubDiv, .totalMealSubDiv, .totalAllCostSubDiv{
   justify-content: flex-end;
    margin-right: 2rem; 
    
}

.totalSeatCostDiv, .totalMealCostDiv, .totalBookingCostDiv{
    margin-right: 1rem; 
}

.bkSeatPriceSubDiv{
    padding-left: 3.4rem;  
}

.totalAllCostDiv{
    margin-top: 3rem; 

}

.totalAllLabel{
    font-size: 1.8rem;
}

#totalAllID{
    font-size: 1.5rem;
    margin-left: 1rem;
}

.paymentInfoDiv, .disclaimerDiv{
    margin-top: 2rem;
}

.paymentInfoDetailsDiv, .disclaimerDetailsDiv{
    margin-top: 1.5rem; 
}

.termsDiv{
    margin-left: 1rem; 
    
}

.termsNoteDiv{
    margin-top: 3rem; 
}

.hatNoteDiv{
    margin-top: 1rem; 
}

/*Last Page */
.endProgress{
    background-color: #acb4c0;
}

.checkIconDiv{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 4rem;  
}

.checkIcon{
    transform: scale(5); 
    color:  rgb(103, 176, 235);
}

.goodbyeDiv{
    display: flex;
    justify-content: center;
}

.goodbyeFont{
    font-size: 3rem;
    margin: 1rem; 
}

.goodbyeFont2{
    font-size: 2.5rem;
    margin: 1rem; 
}

.btnEndDiv{
    display: flex;
    justify-content: center;
    
    margin-top: 20rem; 
}

#btnEndForm{
    font-weight: bold;
}